.upbtn {
    top: 85%; left: 94%; width: 46px; height: 46px;
    border-radius: 80%; background-color: black;
    color: white;
    border: rgb(0, 0, 0) 2.4px solid;
    position: fixed; z-index: 2;
    cursor:pointer;
    font-weight: 600;
}

section {
    width: 100%;
}
section .background {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    background-image: url("https://gahee1907.github.io/Web_gahee/img/welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
section .background h1{
    color: white;
    font-size: 3.7rem;
    text-align: center;
    line-height: 539px;
    text-shadow: 3px 3px 3px black;
    letter-spacing: 3px;
}


main {
    width: 100%;
}
main .inner {
    margin: 100px 0;
    display: flex;
    justify-content:center ;
}
main .inner .menu h1 {
    margin: 10px;
    font-size: 1.7rem;
}
main .inner .menu {
    min-width: 250px;
    font-size: 1.2rem;
    border-right: 1px solid black;
    margin-left: 50px;
}
main .inner .menu li a{
    display: block;
    padding: 8px;
}
main .inner .menu li a:hover {
    background-color: black;
    color: white;
}
main .inner .menu li #point {
    background-color: black;
    color: white;
}

main .inner .part {
    width: 1000px;
    margin: 40px 0 0 40px;
}
main .inner .part h2 {
    margin: 20px 0 0 12px;
    font-size: 2rem;
}
main .inner .part h2:nth-child(1) {
    color: rgb(133, 79, 38);
    text-shadow: 2px 2px 2px lightgray;
}
main .inner .part h2:nth-child(n+2) {
    color: rgb(10, 44, 181);text-shadow: 2px 2px 2px lightgray;
}
main .inner .part h2 img {
    width: 30px; height: 30px;
}
main .inner .part a:hover{
    color: white;
}
h2, img { vertical-align: middle;}


main .inner .part .box {
    width: 200px; height: 140px;
    background-color: white;
    margin: 15px; text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(117, 117, 117, 0.9);
    transition: 0.6s ease-in-out;
}
main .inner .part .box:hover {
    background-image: url("https://gahee1907.github.io/Web_gahee/img/welcome.jpg");
    text-shadow: 3px 2px 5px rgb(79, 79, 79);
    transition: all 0.5s;
    transform: scale(1.08);
}

main .inner .part .box img {
    width: 200px;
    height: 90px;
    padding: 7px;
    border-radius: 20px;
}
main .inner .part .box h4 { height: 48px;}
.level {
    display: flex;flex-wrap: wrap;
    margin-bottom: 50px;
}

@media screen and (max-width: 460px) {
    .upbtn  {
        left: 84%;
    }
}

@media screen and (max-width: 640px) {
    section .background h1 {
        font-size: 2rem;
        line-height: 300px;
    }
    .upbtn  {
        left: 88%;
    }
}

@media screen and (max-width: 800px) {
    main .inner .menu {
        display: none;
    }
    main .inner .part {
    margin: 0;
    }
    .level {
        justify-content: center;
    }
    main .inner .part h2 {
        text-align: center;
    }
        .upbtn  {
        left: 90%;
    }
}
