  body, html {
    font-size: 16px ;
  }

main {
  padding-top: 100px;
  padding-bottom: 50px; 
  overflow: hidden;
  background-image: url(https://gahee1907.github.io/Web_gahee/img/welcome.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
main .title-wrap {
  width: 100%;
}
main .title-wrap h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
main .item {
  width: 100%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
main .item .img-wrap {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}
main .item .img-wrap img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
main .item img:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
main .item .item-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 20px;
}
main .item .item-text h2 {
  font-size: 2.3rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
main .item .item-text p {
  font-size: 1.2rem;
  word-break: keep-all;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 800px) {
  main .title-wrap h1 {
    font-size: 1.5rem;
  }
  main .item .item-text h2 {
    font-size: 1.2rem;
  }
  main .item .item-text p {
    font-size: 0.8rem;
  }

  main .item .img-wrap {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  main .item .item-text h2 {
    font-size: 1rem;
  }
  main .item .item-text p {
    font-size: 0.5rem;
  }
}
