/* header */
header {
    width: 100%;
    height: 90px;
    padding: 0 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: 50;
}
header .header-name h1{
    font-size: 1.5rem;
}
header .header-menu {
    display: flex;
}
header .header-menu li {
    padding: 0 20px;
    font-size: 1.1rem;
}

/* header-mobile */
.header-mobile {
    display: none;
}
html.open {
    overflow: hidden;
  }
  
#menu.open {
    left: 0px;
}
.page_cover.open {
    display: block;
}
.btn {
    font-size: 2.8rem;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    cursor: pointer;
}
#menu .close {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 10px;
    cursor: pointer;
    font-size: 2rem;
} 
#menu {   
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -202px;
    z-index: 20;
    border: 1px solid #c9c9c9;
    background-color: white;
    text-align: center;
    font-weight: bold;
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 40px;
} 
#menu a{
   padding:0;
   text-decoration: none;
   font-size: 18px;
   color: black;
   display: block;
   transition: 0.3s;
}
#menu.open {
    left: 0px;
}
.page_cover.open {
    display: block;
}
.page_cover {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    display: none;
}
 #menu ul { 
    width: 198px; 
    margin:0; 
    padding:0;
}    
#menu ul.nav li {
    position:relative; 
    float:left; 
    width:100%; 
    list-style-type:none; 
    font-size:18px;
}     
#menu ul.nav li a {
    display:block; 
    width:100%; 
    height:100%; 
    line-height:50px; 
    text-indent:20px;
    text-align: left;
    color:black; 
    font-weight:bold; 
    text-decoration:none;
}      
#menu ul.nav li a:hover {
    background:#eee;
}
      
#menu ul.nav li .sub_mobile a {
    position:relative;
    float:left;
    display:block;
    width:100%;
    z-index:999;
    background:#ccc;
} 
#menu ul.nav li .sub_mobile a:hover {
      background:#ffb700;
      color:#fff;
      z-index:999;
}

/* visual */
.visual-wrap {
    padding: 8vw;
    height: 100vh;
    background-image: url(https://gahee1907.github.io/Web_gahee/img/welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.visual-wrap .text {
    font-size: 5rem;
    font-weight: bolder;
    margin: 200px 0 40px 0;
    word-break: keep-all;
}
.visual-wrap p {
    font-size: 1.2rem;
    font-weight: 200;
    word-break: keep-all;
}
.char {
    display: inline-block;
  }

  /* aboutme */
.about-me {
    width: 100%;
    padding: 6vh 8vw;
}
.about-me h1 {
    font-size: 2.8rem;
}
.about-me .about-wrap {
    display: flex;
    justify-content: center;
    margin: 55px 0 35px 0;
}
.about-me .about-wrap img {
    width: 35%;
    height: 35%;
}
.about-me .about-wrap .about-text {
    margin-left: 60px;
}
.about-me .about-wrap .about-text h2 {
  font-family: "League Script", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  color: #5b7eff;
  margin-bottom: 15px;
}
.about-me .about-wrap .about-text p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
    word-break: keep-all;
}
.about-me .about-wrap .about-text p:nth-child(6) {
    margin-bottom: 40px;
}
.about-me .about-wrap .about-text a {
    color:#5b7eff;
    transition: .4s all ease-in-out;
}
.about-me .about-wrap .about-text a:hover {
    color:#a1b4f8
}
/* skill */
.flow-wrap {
    padding: 3vh 8vw;
}
.flow-wrap h2 {
    padding: 3vh 8vw;
    font-size: 2.2rem;
}
.flow-text {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
}
.flow-text .skill {
    width: 220px;
    height: 220px;
    padding: 0 50px;
}
.flow-text:hover {
  color: #000;
}
.flow-text:hover .skill {
  animation-play-state: paused;
  cursor: pointer;
}
.skill {
  animation: imgLoop 5s linear infinite;
  padding-right: 2.4881vw;
}
/* footer */
footer {
    width: 100%;
    padding: 40px;
}
footer p {
    color: #d6d5d5;
    font-size: 1rem;
    text-align: center;
}
  @keyframes imgLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-220%, 0, 0);
      transform: translate3d(calc(-10000% * 14));
    }
  }

@media screen and (max-width: 640px) {
    .visual-wrap .text {
        font-size: 3rem;
        font-weight: bolder;
        margin: 200px 0 40px 0;
    }
    .visual-wrap p {
        font-size: 0.9rem;
        font-weight: 200;
    }
}
@media screen and (max-width: 800px) {
    header .header-menu {
        display: none;
    }
    .header-mobile {
        display: block;
        z-index: 50;
    }
    .about-me .about-wrap {
        display: block;
    }
    .about-me .about-wrap img {
        margin: 0 auto;
    }
    .about-me .about-wrap .about-text {
        margin-left: 0;
    }
    .about-me .about-wrap .about-text p {
        font-size: 0.9rem;
    }
}
